<link rel="stylesheet" href="~/css/Ack.css"/>
<main>
    
    <h1>Děkujeme za váš nákup, Vaše objednávka se poslala.</h1>

    <a asp-controller="Home" asp-action="Index">

        <button>
            Zpět na domovskou stránku
        </button>
    </a>
</main>